[Unit]
Description={{ description }}
After={{ after }}
[Service]
Type={{ type }}
ExecStart={{ exec_start }}
ExecStop={{ exec_stop }}
User={{ user }}
Group={{ group }}
Restart={{ restart }}
{% if inventory_hostname == 'ubuntu_sonarqube_prod' %}
LimitNOFILE={{ nofile_prod }}
LimitNPROC={{ nproc_prod }}
{% elif inventory_hostname == 'ubuntu_sonarqube_qa' %}
LimitNOFILE={{ nofile_qa }}
LimitNPROC={{ nproc_qa }}
{% else %}
LimitNOFILE={{ nofile_dev }}
LimitNPROC={{ nproc_dev }}
{% endif %}

[Install]
WantedBy={{ wanted_by }}