<?xml version='1.1' encoding='UTF-8'?>
<project>
<actions/>
<description></description>
<keepDependencies>false</keepDependencies>
<properties>
<com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.7.15">
<gitLabConnection>GitLab connection</gitLabConnection>
<jobCredentialId></jobCredentialId>
<useAlternativeCredential>false</useAlternativeCredential>
</com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
<hudson.model.ParametersDefinitionProperty>
<parameterDefinitions>
<hudson.model.PasswordParameterDefinition>
<name>GITLAB_TOKEN</name>
<defaultValue>{AQAAABAAAAAgbkdqx9xrUnO8uD8UZ7tLro1nXcexoT+c7nM9Z0OaAsPX1Lzak6VMXzxE7578vtLd}</defaultValue>
</hudson.model.PasswordParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>PROJECT_NAME</name>
<defaultValue>Spring%20App</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>PROJECT_PATH</name>
<defaultValue>spring-app</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>PROJECT_NAMESPACE</name>
<defaultValue>classic.nct</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>ID</name>
<defaultValue>DSL_multibranch_springapp</defaultValue>
<trim>false</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>JOB_NAME</name>
<defaultValue>DSL_multibranch_springapp</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>GITLAB_SERVER_NAME</name>
<defaultValue>default</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>GITLAB_URL</name>
<defaultValue>https://gitlab.com/classic.nct/spring-app.git</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@1271.v54b_1c2c6388a_">
<name>CREDENTIAL_ID</name>
<defaultValue>sshkey</defaultValue>
<credentialType>com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey</credentialType>
<required>false</required>
</com.cloudbees.plugins.credentials.CredentialsParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>JENKINS_URL</name>
<defaultValue>http://jenkins-server.eastasia.cloudapp.azure.com:8080</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>JENKINS_USERNAME</name>
<defaultValue>thanhadmin</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.PasswordParameterDefinition>
<name>JENKINS_PASSWORD</name>
<defaultValue>{AQAAABAAAAAQelnO2EUd+07LR8mmsusZw6miZdPD1uBWaMPjzNErmV4=}</defaultValue>
</hudson.model.PasswordParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>PROJECT_OWNER</name>
<defaultValue>classic.nct</defaultValue>
<trim>false</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>TRIGGER_TOKEN</name>
<defaultValue>mytoken</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
<hudson.model.StringParameterDefinition>
<name>SCRIPT_PATH</name>
<defaultValue>Jenkinsfile</defaultValue>
<trim>true</trim>
</hudson.model.StringParameterDefinition>
</parameterDefinitions>
</hudson.model.ParametersDefinitionProperty>
</properties>
<scm class="hudson.plugins.git.GitSCM" plugin="git@5.2.0">
<configVersion>2</configVersion>
<userRemoteConfigs>
<hudson.plugins.git.UserRemoteConfig>
<url>https://gitlab.com/classic.nct/dsl_job.git</url>
</hudson.plugins.git.UserRemoteConfig>
</userRemoteConfigs>
<branches>
<hudson.plugins.git.BranchSpec>
<name>main</name>
</hudson.plugins.git.BranchSpec>
</branches>
<doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
<submoduleCfg class="empty-list"/>
<extensions/>
</scm>
<assignedNode>master</assignedNode>
<canRoam>false</canRoam>
<disabled>false</disabled>
<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
<triggers/>
<concurrentBuild>false</concurrentBuild>
<builders>
<hudson.tasks.Shell>
<command>sh create_gitlab_project.bash</command>
<configuredLocalRules/>
</hudson.tasks.Shell>
<javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.84">
<targets>dsl_multibranch_job.groovy</targets>
<usingScriptText>false</usingScriptText>
<sandbox>true</sandbox>
<ignoreExisting>false</ignoreExisting>
<ignoreMissingFiles>false</ignoreMissingFiles>
<failOnMissingPlugin>false</failOnMissingPlugin>
<failOnSeedCollision>false</failOnSeedCollision>
<unstableOnDeprecation>false</unstableOnDeprecation>
<removedJobAction>IGNORE</removedJobAction>
<removedViewAction>IGNORE</removedViewAction>
<removedConfigFilesAction>IGNORE</removedConfigFilesAction>
<lookupStrategy>SEED_JOB</lookupStrategy>
</javaposse.jobdsl.plugin.ExecuteDslScripts>
<hudson.tasks.Shell>
<command>sh create_integrations_gitlab.bash</command>
<configuredLocalRules/>
</hudson.tasks.Shell>
</builders>
<publishers/>
<buildWrappers/>
</project>
