credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          description: "jenkins_sshkey"
          id: "jenkins_ssh"
          privateKeySource:
            directEntry:
              privateKey: |-
                -----BEGIN OPENSSH PRIVATE KEY-----
                b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                NhAAAAAwEAAQAAAgEA2G8EY0TmDq+DD5xOx1teWMQuR63Ns4hsvlAPh8VDitxabQjDNSf4
                yoXe6axP4DHWhGtltA/brXST7y7A0beLQGsZQNycxjhw7aTqqOgpAG+4JtidIuhtMP/Fwt
                6JrNe3yeARVVRYGcfm/mUYaWHSx0t64ZOiVdlQCMY6bPSE+8d5/3D6EPJzETlcSS05NGov
                P/prSuG3w06z4l952/e323MSrVkMK8YyMj+sI1iRNXgWiulLC/jFdnHjgq8SlFzY7P4Ajn
                7LNKvuxFa5cjScxYzhPrGZGxBF0U66y/o2h+q3CRHT8nLGNWlGzlWygLakSnmaqqKZOZeK
                Lve/OByf8dQuM+HLi7aAL6kSfyYlOf+xF5QKveaOwMzylu5swnvWII9TBTyydowoKC1qna
                fnzgF2nOo4tWTqlu7S/62ETNGn77XiyiO5dt/Gu52Jfeg38IiJjbc3P2DwmtXzxbhCRtwg
                CCyFdgTnASc2j4dcC5yurmrbrDIWR1ZL2aPkhIJZDDT9xrQKsU3hrQyQHEmnBsq5nYEtGd
                L0iM3L16Oc1JhD3EQmRzpz02Wuc3C4cucQU/ZTZULNvI38M2d/LYG1vX4IkgXbNEHbuGC7
                FiQoYLny/QtA3Pdeu/mAxmHW/I2vF5A7cVDOgO1Ky5lsktYdCUMs3BgDTd0ICmBa2hD9I8
                cAAAdI+zOXsvszl7IAAAAHc3NoLXJzYQAAAgEA2G8EY0TmDq+DD5xOx1teWMQuR63Ns4hs
                vlAPh8VDitxabQjDNSf4yoXe6axP4DHWhGtltA/brXST7y7A0beLQGsZQNycxjhw7aTqqO
                gpAG+4JtidIuhtMP/Fwt6JrNe3yeARVVRYGcfm/mUYaWHSx0t64ZOiVdlQCMY6bPSE+8d5
                /3D6EPJzETlcSS05NGovP/prSuG3w06z4l952/e323MSrVkMK8YyMj+sI1iRNXgWiulLC/
                jFdnHjgq8SlFzY7P4Ajn7LNKvuxFa5cjScxYzhPrGZGxBF0U66y/o2h+q3CRHT8nLGNWlG
                zlWygLakSnmaqqKZOZeKLve/OByf8dQuM+HLi7aAL6kSfyYlOf+xF5QKveaOwMzylu5swn
                vWII9TBTyydowoKC1qnafnzgF2nOo4tWTqlu7S/62ETNGn77XiyiO5dt/Gu52Jfeg38IiJ
                jbc3P2DwmtXzxbhCRtwgCCyFdgTnASc2j4dcC5yurmrbrDIWR1ZL2aPkhIJZDDT9xrQKsU
                3hrQyQHEmnBsq5nYEtGdL0iM3L16Oc1JhD3EQmRzpz02Wuc3C4cucQU/ZTZULNvI38M2d/
                LYG1vX4IkgXbNEHbuGC7FiQoYLny/QtA3Pdeu/mAxmHW/I2vF5A7cVDOgO1Ky5lsktYdCU
                Ms3BgDTd0ICmBa2hD9I8cAAAADAQABAAACACX9aqBAFj+qqA8j6SIOFCPxn4v+YnZqcmf/
                ZpJ22jG0Fv0/hgA9GWr3D5clo0mfhd9teIcgJ3etWFAp/Tdyh7NReTfM4Ynbm1rjUTs/sP
                6+HW1YJVDcylnI834OkMzxenWpanF3YhV4ZL/vn9bTkGtiANo6j0qRX/6CSPwZ+YO2UmA3
                hPVXkUILNvszQHDGWK/atV2J/DcAiAuqpZmqRC/1ZWhfEodWfTYbvgvgPnDLuO0+IOmji4
                mMWRp1v4WiPINw3Ekm0WVX7ouxC1EUEhaM8XaPNugstYyVTK2EKHE4DlO9uN28LrVuWrra
                CQCVzoWyDad47ftRcbRn0T04rQwzdZ5EPEyDKVpA7237j+LZD8wDN9/YfpA6asKd1E3EU+
                jGhFHRs/DYvS3VDc2jv8M5aylOMooAmkePvYU5wLtjE8oyCWP204PsljvZ7q+gIVPNKgU9
                pCKo2ogzhmJ+Ruf6WhoIzHAFGqCMA5A3XGrzYTqA4ohteYc1spE27BIiVKXPqF7p9fuipv
                Nf9dBjQuh2Sn5BYCPhQiNoAivA5aYQ6BRia6EQfeh1ZQMT9K9pU5+Wrmlr4YGAnxsPc6bk
                sJZlye0kKKeF4S2bbR0HuOKhEcSNuHtnBGeBB1a+uOjCsiWWgJLJr3MPBlaxARYfO75BeC
                5XhcE5WlPm0i4HPDnRAAABAFmRFWjU/GXQ5sHyB+RalW6wU2GbueYd9dOxFJrkIVyXJCuD
                rh8HhVPTiuJISHu4rvqAzbyUrkzPTdTwR7b7naXrdnHC13sl/pKmXjl3zNDId0mLv8BLIz
                K50qk/WyeKpatYvO5kVFCNsjT0raPK+mLVrLDgfOqGAeuMCBF2XndkyhAIEK1cfJi2PYks
                qBA5jUHNf9AbyPg9fG7JkfeHZAf7IQzq1AntqMSELIUAmlxkDSXFBSh798yTycaSHljwSx
                qp7hwX2ARDGQWXEsYB1d5fM3x/nk180EUoTvrijQTRaihBr8XjuDz8A8XAOFBXffdXwHWV
                ZOYSZdXzjHFH/fgAAAEBAOH3sEvxaesG/JUaDtM03r6VacfTb4xqmgd1Q+p374Oy1JzZMb
                WAGhFfIG+xv1VeaSGc4Fs8vx9iDwylaXryXWn1RMuNwVVncP3v2bpqyZLfix74RB8BkjGp
                08HYPS2e20laqMfSv9K7RZIyNQ3iiNeMmzifODYxXg1LW4+JhyPaSTQwjvrKDSlNy870Tc
                WvoEqAJOChJKptOMz+v44TZHOw30aN9ImjI8sAOVF42+QWj2avVY8MexdGvDZ/4fLOlhcE
                1X741ya0Er/dWCuwv1IuJXCUpMck3fzN6m2aUc5//+htYYF6t5nyEkzn/b1DIfeA5nyP9m
                GECYQXHimtxtcAAAEBAPUy8sUj/OMkx86OTLe1VzGxpckxJsD9lISYy9S5StDYJ0YpCVOv
                D5wnm8rcNCIO7irCp3FKIt2cjkrQpKrxg260OwDczn7Rbuh6jS80s4lMbMowCgiEic/hSW
                AA0/q2VJzLcHyZgHlCHfQEbRpV3SuywGAF7G8gezvPab1QNNQaDwy5zKQDZVEKF89HnJkO
                hHYqqPoiBcBBr9knXKt0Kfl2+ZjLdphQZGag/2ISU/iMgIjgJ/9DwZ9JavvWr1OskWx1qv
                dtgN4eWFZr25J6ibeEzaVPNKwYvc8l5UnM8M++OXTFz2aYH5Jn5XRbkLePLKsCefV9DNcA
                RpRFUUCwHJEAAAAOcm9vdEBsb2NhbGhvc3QBAgMEBQ==
                -----END OPENSSH PRIVATE KEY-----
          scope: GLOBAL
          username: "root"
      - basicSSHUserPrivateKey:
          description: "jenkins_sshkey"
          id: "jenkins_sshkey"
          privateKeySource:
            directEntry:
              privateKey: |-
                -----BEGIN OPENSSH PRIVATE KEY-----
                b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                NhAAAAAwEAAQAAAgEA2G8EY0TmDq+DD5xOx1teWMQuR63Ns4hsvlAPh8VDitxabQjDNSf4
                yoXe6axP4DHWhGtltA/brXST7y7A0beLQGsZQNycxjhw7aTqqOgpAG+4JtidIuhtMP/Fwt
                6JrNe3yeARVVRYGcfm/mUYaWHSx0t64ZOiVdlQCMY6bPSE+8d5/3D6EPJzETlcSS05NGov
                P/prSuG3w06z4l952/e323MSrVkMK8YyMj+sI1iRNXgWiulLC/jFdnHjgq8SlFzY7P4Ajn
                7LNKvuxFa5cjScxYzhPrGZGxBF0U66y/o2h+q3CRHT8nLGNWlGzlWygLakSnmaqqKZOZeK
                Lve/OByf8dQuM+HLi7aAL6kSfyYlOf+xF5QKveaOwMzylu5swnvWII9TBTyydowoKC1qna
                fnzgF2nOo4tWTqlu7S/62ETNGn77XiyiO5dt/Gu52Jfeg38IiJjbc3P2DwmtXzxbhCRtwg
                CCyFdgTnASc2j4dcC5yurmrbrDIWR1ZL2aPkhIJZDDT9xrQKsU3hrQyQHEmnBsq5nYEtGd
                L0iM3L16Oc1JhD3EQmRzpz02Wuc3C4cucQU/ZTZULNvI38M2d/LYG1vX4IkgXbNEHbuGC7
                FiQoYLny/QtA3Pdeu/mAxmHW/I2vF5A7cVDOgO1Ky5lsktYdCUMs3BgDTd0ICmBa2hD9I8
                cAAAdI+zOXsvszl7IAAAAHc3NoLXJzYQAAAgEA2G8EY0TmDq+DD5xOx1teWMQuR63Ns4hs
                vlAPh8VDitxabQjDNSf4yoXe6axP4DHWhGtltA/brXST7y7A0beLQGsZQNycxjhw7aTqqO
                gpAG+4JtidIuhtMP/Fwt6JrNe3yeARVVRYGcfm/mUYaWHSx0t64ZOiVdlQCMY6bPSE+8d5
                /3D6EPJzETlcSS05NGovP/prSuG3w06z4l952/e323MSrVkMK8YyMj+sI1iRNXgWiulLC/
                jFdnHjgq8SlFzY7P4Ajn7LNKvuxFa5cjScxYzhPrGZGxBF0U66y/o2h+q3CRHT8nLGNWlG
                zlWygLakSnmaqqKZOZeKLve/OByf8dQuM+HLi7aAL6kSfyYlOf+xF5QKveaOwMzylu5swn
                vWII9TBTyydowoKC1qnafnzgF2nOo4tWTqlu7S/62ETNGn77XiyiO5dt/Gu52Jfeg38IiJ
                jbc3P2DwmtXzxbhCRtwgCCyFdgTnASc2j4dcC5yurmrbrDIWR1ZL2aPkhIJZDDT9xrQKsU
                3hrQyQHEmnBsq5nYEtGdL0iM3L16Oc1JhD3EQmRzpz02Wuc3C4cucQU/ZTZULNvI38M2d/
                LYG1vX4IkgXbNEHbuGC7FiQoYLny/QtA3Pdeu/mAxmHW/I2vF5A7cVDOgO1Ky5lsktYdCU
                Ms3BgDTd0ICmBa2hD9I8cAAAADAQABAAACACX9aqBAFj+qqA8j6SIOFCPxn4v+YnZqcmf/
                ZpJ22jG0Fv0/hgA9GWr3D5clo0mfhd9teIcgJ3etWFAp/Tdyh7NReTfM4Ynbm1rjUTs/sP
                6+HW1YJVDcylnI834OkMzxenWpanF3YhV4ZL/vn9bTkGtiANo6j0qRX/6CSPwZ+YO2UmA3
                hPVXkUILNvszQHDGWK/atV2J/DcAiAuqpZmqRC/1ZWhfEodWfTYbvgvgPnDLuO0+IOmji4
                mMWRp1v4WiPINw3Ekm0WVX7ouxC1EUEhaM8XaPNugstYyVTK2EKHE4DlO9uN28LrVuWrra
                CQCVzoWyDad47ftRcbRn0T04rQwzdZ5EPEyDKVpA7237j+LZD8wDN9/YfpA6asKd1E3EU+
                jGhFHRs/DYvS3VDc2jv8M5aylOMooAmkePvYU5wLtjE8oyCWP204PsljvZ7q+gIVPNKgU9
                pCKo2ogzhmJ+Ruf6WhoIzHAFGqCMA5A3XGrzYTqA4ohteYc1spE27BIiVKXPqF7p9fuipv
                Nf9dBjQuh2Sn5BYCPhQiNoAivA5aYQ6BRia6EQfeh1ZQMT9K9pU5+Wrmlr4YGAnxsPc6bk
                sJZlye0kKKeF4S2bbR0HuOKhEcSNuHtnBGeBB1a+uOjCsiWWgJLJr3MPBlaxARYfO75BeC
                5XhcE5WlPm0i4HPDnRAAABAFmRFWjU/GXQ5sHyB+RalW6wU2GbueYd9dOxFJrkIVyXJCuD
                rh8HhVPTiuJISHu4rvqAzbyUrkzPTdTwR7b7naXrdnHC13sl/pKmXjl3zNDId0mLv8BLIz
                K50qk/WyeKpatYvO5kVFCNsjT0raPK+mLVrLDgfOqGAeuMCBF2XndkyhAIEK1cfJi2PYks
                qBA5jUHNf9AbyPg9fG7JkfeHZAf7IQzq1AntqMSELIUAmlxkDSXFBSh798yTycaSHljwSx
                qp7hwX2ARDGQWXEsYB1d5fM3x/nk180EUoTvrijQTRaihBr8XjuDz8A8XAOFBXffdXwHWV
                ZOYSZdXzjHFH/fgAAAEBAOH3sEvxaesG/JUaDtM03r6VacfTb4xqmgd1Q+p374Oy1JzZMb
                WAGhFfIG+xv1VeaSGc4Fs8vx9iDwylaXryXWn1RMuNwVVncP3v2bpqyZLfix74RB8BkjGp
                08HYPS2e20laqMfSv9K7RZIyNQ3iiNeMmzifODYxXg1LW4+JhyPaSTQwjvrKDSlNy870Tc
                WvoEqAJOChJKptOMz+v44TZHOw30aN9ImjI8sAOVF42+QWj2avVY8MexdGvDZ/4fLOlhcE
                1X741ya0Er/dWCuwv1IuJXCUpMck3fzN6m2aUc5//+htYYF6t5nyEkzn/b1DIfeA5nyP9m
                GECYQXHimtxtcAAAEBAPUy8sUj/OMkx86OTLe1VzGxpckxJsD9lISYy9S5StDYJ0YpCVOv
                D5wnm8rcNCIO7irCp3FKIt2cjkrQpKrxg260OwDczn7Rbuh6jS80s4lMbMowCgiEic/hSW
                AA0/q2VJzLcHyZgHlCHfQEbRpV3SuywGAF7G8gezvPab1QNNQaDwy5zKQDZVEKF89HnJkO
                hHYqqPoiBcBBr9knXKt0Kfl2+ZjLdphQZGag/2ISU/iMgIjgJ/9DwZ9JavvWr1OskWx1qv
                dtgN4eWFZr25J6ibeEzaVPNKwYvc8l5UnM8M++OXTFz2aYH5Jn5XRbkLePLKsCefV9DNcA
                RpRFUUCwHJEAAAAOcm9vdEBsb2NhbGhvc3QBAgMEBQ==
                -----END OPENSSH PRIVATE KEY-----
          scope: GLOBAL
          username: "root"
      - usernamePassword:
          description: "github_credentials"
          id: "github_credentials"
          password: "I_amThanh2001"
          scope: GLOBAL
          username: "classic.nct@gmail.com"
      - usernamePassword:
          description: "github-access-token"
          id: "github-access-token"
          password: "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"
          scope: GLOBAL
          username: "troynguyeen"
      - usernamePassword:
          description: "gitlab_login"
          id: "gitlab_login"
          password: "glpat-fQDgtfMgLvZUfWEzeBtJ"
          scope: GLOBAL
          username: "classic.nct@gmail.com"
      - string:
          description: "sonarqube_secret"
          id: "sonarqube_secret"
          scope: GLOBAL
          secret: "squ_64d9902af7e6cd35e4a1dd9c7d91393d5d2700b0"
      - usernamePassword:
          description: "nexus_id"
          id: "nexus_id"
          password: "123456"
          scope: GLOBAL
          username: "jenkins"
      - string:
          description: "slack_token"
          id: "slack_token"
          scope: GLOBAL
          secret: "xoxb-5732994821505-5720381255891-p4MDJbiOCYY8vcvIL2I07zwE"
      - usernamePassword:
          description: "smtp_credential"
          id: "smtp_credential"
          password: "bagskcgmftyienmi"
          scope: GLOBAL
          username: "classic.nct@gmail.com"
      - basicSSHUserPrivateKey:
          description: "root_sshagent"
          id: "root_sshagent"
          privateKeySource:
            directEntry:
              privateKey: |-
                -----BEGIN OPENSSH PRIVATE KEY-----
                b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                NhAAAAAwEAAQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCnruMR8lUB93ZRNnJcxUKx
                tQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7T3gcc3tnTwf9Nrla6PCx
                kwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+ytevSBFmfRKb5DXZ0wnb
                GrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M+nx1otXFHiS+cot0UdnV
                k+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiMo/USgxJgbDWIXWmQIYJr
                Vcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+u55boDWf68/V/7liV7xj
                /OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vKJ8LjLbnNLzHGOcyThQLY
                w95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZRXrPxVzFh/ndYz1v5puzt
                QsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb46l9Cyen3Q3vUDjkj2ml
                tkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwbjZUVU8PVJdf2zlGD5iZ+
                UAAAdYihfmiooX5ooAAAAHc3NoLXJzYQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCn
                ruMR8lUB93ZRNnJcxUKxtQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7
                T3gcc3tnTwf9Nrla6PCxkwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+
                ytevSBFmfRKb5DXZ0wnbGrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M
                +nx1otXFHiS+cot0UdnVk+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiM
                o/USgxJgbDWIXWmQIYJrVcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+
                u55boDWf68/V/7liV7xj/OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vK
                J8LjLbnNLzHGOcyThQLYw95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZR
                XrPxVzFh/ndYz1v5puztQsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb
                46l9Cyen3Q3vUDjkj2mltkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwb
                jZUVU8PVJdf2zlGD5iZ+UAAAADAQABAAACAC2W3liCFnLDnWC3FSn54ZJn11Q+9mcUpuYG
                eAxQ2fov4Aj+Sc2rTuJ+PlJUNB7nv8HesxYoMs334p5sAwybdGQOapdbqcg2b/KMOGeVQi
                dlGChuy5dxg4lA75Q2w6u/aLv1Myanhj0bVOPI5H6yyqYmqsSBslcevzC5MW5bWsNUOeQ4
                cY2bMwC923sZ7fG1JuaRVYwbWkDqzehDIkbAvw1Nle/1Jv9z1xUH3yFV/o+AmeY+22DJ3q
                bJUuyM1lDWXQzsxx/8/2WdUCnVgnpr20DO98qMlsunbL73+OZdDcyv2Jk3mBIlTQsTpMss
                ySlfBFFtg7XQZnjJ9pEwF3t4a/75NEBX/XAEyOmZPQF/yfZWKsmsP3/Qy4xap+2/LhXhoM
                GIoWh5HVTKn7xQsbPu8VTlwPaaCGTokpMUCE8PG1bBcaXGrEX99hvbxuFat5s4U9d9TZOL
                qfFhUUrEsuvosl/D61/AGBE6/CCFXe6ikTgic3dKAFsWVbZR9e0SYfzfqJD8eIYcTXKGNB
                xsGvUZQEckNrdvqqFgNSqiVUOJOOrC9qZO6v4jdmKMHynTRSgfyFF39z292BYzJhhm+l0h
                X1cB/6+FC1CzpsdzlYedBh0Ou3yJSt60eQ4HKrGM1elAs5EF/T9PFI1ApUDtXjs1g2yDWC
                KA3agtUU7qkOi53E7BAAABAQC4ncmDO7zZmESYLQHT2mYOw1YEkV+uCzmH1LQJgr917Juw
                wz+Hq+yhM6V8BPL6onhwm/WV9fkC7hqBqyj3XbWoFiyKrUAwLqEwPbO0qcU8mKEK5Gv4bO
                BPvsayRpy7q/J6twQlfYM7QH4bFJgxz4xlCNyWx3036eBnXv9+B/KKzmc7tOfnLnF5Sx8U
                6q1FIraKVX7v3W1iUBl1O8GFxt5yaBoRQFS4Fyf0TxwoGs4srqwgycyJPCnioZdRYASv2z
                R1Hl/9PsdHsLNtWuyrMUN8Embf1PMmr4Am6seZbFWDxr0az8bt4Mpe4lhGyrYQEJiU765o
                K4v9efLBS2j8x8alAAABAQD0rLeCFg+E9FCLHq72Az+XeSbHbhWsfFL4nb2nKEd96btcsE
                utI0tqKmsKIun0Se9wq5MvFidjElNE+tMmflXFFDBvPKdckhxDUzw7zymrr59kW5DUJUvR
                F/X+oP8eTfixhdyCnOfwtqEUdwVme083nyMfV9/gAzoG85lPTXziat5G4UWzYmiR7I701Q
                HbKG0taxCBZ9B5nArUQhdPEDMBDJk5JfF4EdER2CHalvh5GlfSaPvJtABxQ/wHkOHOREl9
                8fx+DLMZN5ovh+JUpiD/3C6kO4i49vuX9zS5Cl03PNL9G+ELYnVPzuf/LscRLn4bXb2EKT
                ormOj1cslYwnDPAAABAQDDL2J+kkMIjob1vJRxekmipSm7iFt4O4dtZrd1ISWpCis8zELV
                eLzUf3mdCodgqPGHT5Z4JIKaFYGirRV3VNuTWttGPlR4+fxW7LAIIbyrRGF/806qPg69cc
                T/ArGr/1bEOw+VKjANnKOKP9G+6HOuBgT+s+p8jB/rNFiXQPkO8z16dBtwQWdbvKn8cImW
                f5oTXTskwi6EJORuO+tLty1NmOiHnU3IqqCEC4njnl0cmWwG7VVBR3jLU3vJIP/g5402xj
                h2ZLIcfLNVyP9ncXBWePtDqJpzEo64DeTby16N3w9wV8dQ/fdGPTZFGIHhgir0ngJo+9nN
                GxbqiMLVLUELAAAAH3RoYW5oaXRATWFjQm9vay1BaXItVGhhbmgubG9jYWwBAgM=
                -----END OPENSSH PRIVATE KEY-----
          scope: GLOBAL
          username: "root"
      - gitlabPersonalAccessToken:
          description: "gitlab_personal_access_token"
          id: "gitlab_personal_access_token"
          scope: GLOBAL
          token: "glpat-EKViCEznJrV_3xm3E33R"
      - basicSSHUserPrivateKey:
          description: "sshkey"
          id: "sshkey"
          privateKeySource:
            directEntry:
              privateKey: |-
                -----BEGIN OPENSSH PRIVATE KEY-----
                b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                NhAAAAAwEAAQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCnruMR8lUB93ZRNnJcxUKx
                tQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7T3gcc3tnTwf9Nrla6PCx
                kwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+ytevSBFmfRKb5DXZ0wnb
                GrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M+nx1otXFHiS+cot0UdnV
                k+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiMo/USgxJgbDWIXWmQIYJr
                Vcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+u55boDWf68/V/7liV7xj
                /OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vKJ8LjLbnNLzHGOcyThQLY
                w95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZRXrPxVzFh/ndYz1v5puzt
                QsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb46l9Cyen3Q3vUDjkj2ml
                tkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwbjZUVU8PVJdf2zlGD5iZ+
                UAAAdYihfmiooX5ooAAAAHc3NoLXJzYQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCn
                ruMR8lUB93ZRNnJcxUKxtQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7
                T3gcc3tnTwf9Nrla6PCxkwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+
                ytevSBFmfRKb5DXZ0wnbGrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M
                +nx1otXFHiS+cot0UdnVk+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiM
                o/USgxJgbDWIXWmQIYJrVcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+
                u55boDWf68/V/7liV7xj/OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vK
                J8LjLbnNLzHGOcyThQLYw95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZR
                XrPxVzFh/ndYz1v5puztQsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb
                46l9Cyen3Q3vUDjkj2mltkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwb
                jZUVU8PVJdf2zlGD5iZ+UAAAADAQABAAACAC2W3liCFnLDnWC3FSn54ZJn11Q+9mcUpuYG
                eAxQ2fov4Aj+Sc2rTuJ+PlJUNB7nv8HesxYoMs334p5sAwybdGQOapdbqcg2b/KMOGeVQi
                dlGChuy5dxg4lA75Q2w6u/aLv1Myanhj0bVOPI5H6yyqYmqsSBslcevzC5MW5bWsNUOeQ4
                cY2bMwC923sZ7fG1JuaRVYwbWkDqzehDIkbAvw1Nle/1Jv9z1xUH3yFV/o+AmeY+22DJ3q
                bJUuyM1lDWXQzsxx/8/2WdUCnVgnpr20DO98qMlsunbL73+OZdDcyv2Jk3mBIlTQsTpMss
                ySlfBFFtg7XQZnjJ9pEwF3t4a/75NEBX/XAEyOmZPQF/yfZWKsmsP3/Qy4xap+2/LhXhoM
                GIoWh5HVTKn7xQsbPu8VTlwPaaCGTokpMUCE8PG1bBcaXGrEX99hvbxuFat5s4U9d9TZOL
                qfFhUUrEsuvosl/D61/AGBE6/CCFXe6ikTgic3dKAFsWVbZR9e0SYfzfqJD8eIYcTXKGNB
                xsGvUZQEckNrdvqqFgNSqiVUOJOOrC9qZO6v4jdmKMHynTRSgfyFF39z292BYzJhhm+l0h
                X1cB/6+FC1CzpsdzlYedBh0Ou3yJSt60eQ4HKrGM1elAs5EF/T9PFI1ApUDtXjs1g2yDWC
                KA3agtUU7qkOi53E7BAAABAQC4ncmDO7zZmESYLQHT2mYOw1YEkV+uCzmH1LQJgr917Juw
                wz+Hq+yhM6V8BPL6onhwm/WV9fkC7hqBqyj3XbWoFiyKrUAwLqEwPbO0qcU8mKEK5Gv4bO
                BPvsayRpy7q/J6twQlfYM7QH4bFJgxz4xlCNyWx3036eBnXv9+B/KKzmc7tOfnLnF5Sx8U
                6q1FIraKVX7v3W1iUBl1O8GFxt5yaBoRQFS4Fyf0TxwoGs4srqwgycyJPCnioZdRYASv2z
                R1Hl/9PsdHsLNtWuyrMUN8Embf1PMmr4Am6seZbFWDxr0az8bt4Mpe4lhGyrYQEJiU765o
                K4v9efLBS2j8x8alAAABAQD0rLeCFg+E9FCLHq72Az+XeSbHbhWsfFL4nb2nKEd96btcsE
                utI0tqKmsKIun0Se9wq5MvFidjElNE+tMmflXFFDBvPKdckhxDUzw7zymrr59kW5DUJUvR
                F/X+oP8eTfixhdyCnOfwtqEUdwVme083nyMfV9/gAzoG85lPTXziat5G4UWzYmiR7I701Q
                HbKG0taxCBZ9B5nArUQhdPEDMBDJk5JfF4EdER2CHalvh5GlfSaPvJtABxQ/wHkOHOREl9
                8fx+DLMZN5ovh+JUpiD/3C6kO4i49vuX9zS5Cl03PNL9G+ELYnVPzuf/LscRLn4bXb2EKT
                ormOj1cslYwnDPAAABAQDDL2J+kkMIjob1vJRxekmipSm7iFt4O4dtZrd1ISWpCis8zELV
                eLzUf3mdCodgqPGHT5Z4JIKaFYGirRV3VNuTWttGPlR4+fxW7LAIIbyrRGF/806qPg69cc
                T/ArGr/1bEOw+VKjANnKOKP9G+6HOuBgT+s+p8jB/rNFiXQPkO8z16dBtwQWdbvKn8cImW
                f5oTXTskwi6EJORuO+tLty1NmOiHnU3IqqCEC4njnl0cmWwG7VVBR3jLU3vJIP/g5402xj
                h2ZLIcfLNVyP9ncXBWePtDqJpzEo64DeTby16N3w9wV8dQ/fdGPTZFGIHhgir0ngJo+9nN
                GxbqiMLVLUELAAAAH3RoYW5oaXRATWFjQm9vay1BaXItVGhhbmgubG9jYWwBAgM=
                -----END OPENSSH PRIVATE KEY-----
          scope: GLOBAL
          username: "classic.nct"
      - azureImds:
          azureEnvName: "Azure"
          description: "azure_managed_identity"
          id: "azure_managed_identity"
          scope: GLOBAL
          subscriptionId: "73bbbe7b-8b33-4427-a8d0-937bf24af015"
      - azure:
          azureEnvironmentName: "Azure"
          clientId: "865f7187-87ce-4565-8e56-7654a0f140f6"
          clientSecret: "fR_8Q~r2qr4Km_5fSK5Y4nkSPCAI6cbp4z~mCaSW"
          description: "azure_service_principal"
          id: "azure_service_principal"
          scope: GLOBAL
          subscriptionId: "bd255861-35a0-4603-bedf-cbf14ddbf567"
          tenant: "d720ff8d-5529-4569-9929-801779db481d"
      - basicSSHUserPrivateKey:
          description: "ssh_azurevm"
          id: "ssh_azurevm"
          privateKeySource:
            directEntry:
              privateKey: |-
                -----BEGIN OPENSSH PRIVATE KEY-----
                b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAACFwAAAAdzc2gtcn
                NhAAAAAwEAAQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCnruMR8lUB93ZRNnJcxUKx
                tQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7T3gcc3tnTwf9Nrla6PCx
                kwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+ytevSBFmfRKb5DXZ0wnb
                GrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M+nx1otXFHiS+cot0UdnV
                k+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiMo/USgxJgbDWIXWmQIYJr
                Vcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+u55boDWf68/V/7liV7xj
                /OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vKJ8LjLbnNLzHGOcyThQLY
                w95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZRXrPxVzFh/ndYz1v5puzt
                QsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb46l9Cyen3Q3vUDjkj2ml
                tkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwbjZUVU8PVJdf2zlGD5iZ+
                UAAAdYihfmiooX5ooAAAAHc3NoLXJzYQAAAgEAuozZoN68j6Ik5XlRFn1/0BIOxUeF2dCn
                ruMR8lUB93ZRNnJcxUKxtQViNwZ/J5MIFPJE33HzDjye6wHQUEef1RRwG7ho6sbX/eSN/7
                T3gcc3tnTwf9Nrla6PCxkwYDWFriD6DTat+ukD0nEr2oWl3X7dJEJY4lnd+kB7Y7Bagy4+
                ytevSBFmfRKb5DXZ0wnbGrqhludLYorZr/f8EO1sZ4XOWKouXQImgODdnyejgikRwXuM6M
                +nx1otXFHiS+cot0UdnVk+svfolfTxrV40X8/NQk7KbOspyduN6VV8MRC1NjiKQfCkcxiM
                o/USgxJgbDWIXWmQIYJrVcff9gZB2ee8SUFTSaMi6XCYLJd/bJXy1d3mAuwf5T0qsppNV+
                u55boDWf68/V/7liV7xj/OXmWIh/FhAjxxrBdoBaJWvS+mJWqUgT2SpYw6QCzPv3cpc3vK
                J8LjLbnNLzHGOcyThQLYw95cNrtHLR2J5LVfEr94C7B0Nyjpk1rzgHuj7my5KebS/btaZR
                XrPxVzFh/ndYz1v5puztQsAk3/xC3GaroU519YTIbh4N/Tp28qxnJqpGWfznBZpvBSFxjb
                46l9Cyen3Q3vUDjkj2mltkyNHZAC/oF0wr71YF/CfXEmY+ZOCbWLRVRBKiz5/EttBDZwwb
                jZUVU8PVJdf2zlGD5iZ+UAAAADAQABAAACAC2W3liCFnLDnWC3FSn54ZJn11Q+9mcUpuYG
                eAxQ2fov4Aj+Sc2rTuJ+PlJUNB7nv8HesxYoMs334p5sAwybdGQOapdbqcg2b/KMOGeVQi
                dlGChuy5dxg4lA75Q2w6u/aLv1Myanhj0bVOPI5H6yyqYmqsSBslcevzC5MW5bWsNUOeQ4
                cY2bMwC923sZ7fG1JuaRVYwbWkDqzehDIkbAvw1Nle/1Jv9z1xUH3yFV/o+AmeY+22DJ3q
                bJUuyM1lDWXQzsxx/8/2WdUCnVgnpr20DO98qMlsunbL73+OZdDcyv2Jk3mBIlTQsTpMss
                ySlfBFFtg7XQZnjJ9pEwF3t4a/75NEBX/XAEyOmZPQF/yfZWKsmsP3/Qy4xap+2/LhXhoM
                GIoWh5HVTKn7xQsbPu8VTlwPaaCGTokpMUCE8PG1bBcaXGrEX99hvbxuFat5s4U9d9TZOL
                qfFhUUrEsuvosl/D61/AGBE6/CCFXe6ikTgic3dKAFsWVbZR9e0SYfzfqJD8eIYcTXKGNB
                xsGvUZQEckNrdvqqFgNSqiVUOJOOrC9qZO6v4jdmKMHynTRSgfyFF39z292BYzJhhm+l0h
                X1cB/6+FC1CzpsdzlYedBh0Ou3yJSt60eQ4HKrGM1elAs5EF/T9PFI1ApUDtXjs1g2yDWC
                KA3agtUU7qkOi53E7BAAABAQC4ncmDO7zZmESYLQHT2mYOw1YEkV+uCzmH1LQJgr917Juw
                wz+Hq+yhM6V8BPL6onhwm/WV9fkC7hqBqyj3XbWoFiyKrUAwLqEwPbO0qcU8mKEK5Gv4bO
                BPvsayRpy7q/J6twQlfYM7QH4bFJgxz4xlCNyWx3036eBnXv9+B/KKzmc7tOfnLnF5Sx8U
                6q1FIraKVX7v3W1iUBl1O8GFxt5yaBoRQFS4Fyf0TxwoGs4srqwgycyJPCnioZdRYASv2z
                R1Hl/9PsdHsLNtWuyrMUN8Embf1PMmr4Am6seZbFWDxr0az8bt4Mpe4lhGyrYQEJiU765o
                K4v9efLBS2j8x8alAAABAQD0rLeCFg+E9FCLHq72Az+XeSbHbhWsfFL4nb2nKEd96btcsE
                utI0tqKmsKIun0Se9wq5MvFidjElNE+tMmflXFFDBvPKdckhxDUzw7zymrr59kW5DUJUvR
                F/X+oP8eTfixhdyCnOfwtqEUdwVme083nyMfV9/gAzoG85lPTXziat5G4UWzYmiR7I701Q
                HbKG0taxCBZ9B5nArUQhdPEDMBDJk5JfF4EdER2CHalvh5GlfSaPvJtABxQ/wHkOHOREl9
                8fx+DLMZN5ovh+JUpiD/3C6kO4i49vuX9zS5Cl03PNL9G+ELYnVPzuf/LscRLn4bXb2EKT
                ormOj1cslYwnDPAAABAQDDL2J+kkMIjob1vJRxekmipSm7iFt4O4dtZrd1ISWpCis8zELV
                eLzUf3mdCodgqPGHT5Z4JIKaFYGirRV3VNuTWttGPlR4+fxW7LAIIbyrRGF/806qPg69cc
                T/ArGr/1bEOw+VKjANnKOKP9G+6HOuBgT+s+p8jB/rNFiXQPkO8z16dBtwQWdbvKn8cImW
                f5oTXTskwi6EJORuO+tLty1NmOiHnU3IqqCEC4njnl0cmWwG7VVBR3jLU3vJIP/g5402xj
                h2ZLIcfLNVyP9ncXBWePtDqJpzEo64DeTby16N3w9wV8dQ/fdGPTZFGIHhgir0ngJo+9nN
                GxbqiMLVLUELAAAAH3RoYW5oaXRATWFjQm9vay1BaXItVGhhbmgubG9jYWwBAgM=
                -----END OPENSSH PRIVATE KEY-----
          scope: GLOBAL
          username: "azureuser"
      - gitlabPersonalAccessToken:
          description: "gitlab_accesstoken"
          id: "gitlab_accesstoken"
          scope: GLOBAL
          token: "glpat-x8x6SsTLvuFGFJhLQpGz"
jenkins:
  agentProtocols:
  - "JNLP4-connect"
  - "Ping"
  authorizationStrategy:
    loggedInUsersCanDoAnything:
      allowAnonymousRead: false
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: true
  disableRememberMe: false
  disabledAdministrativeMonitors:
  - "hudson.util.DoubleLaunchChecker"
  - "hudson.diagnosis.ReverseProxySetupMonitor"
  labelAtoms:
  - name: "ansible"
  - name: "built-in"
  - name: "linux"
  - name: "master"
  labelString: "master"
  log:
    recorders:
    - loggers:
      - level: "ALL"
        name: "com.dabsquared.gitlabjenkins"
      name: "Logging"
    - loggers:
      - level: "WARNING"
        name: "com.microsoft.azure.vmagent"
      name: "Azure VM Agent (Auto)"
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
  nodes:
  - permanent:
      labelString: "linux ansible"
      launcher:
        ssh:
          credentialsId: "ssh_azurevm"
          host: "20.205.32.215"
          port: 22
          sshHostKeyVerificationStrategy: "knownHostsFileKeyVerificationStrategy"
      name: "ansible"
      nodeDescription: "This is Azure Virtual machine"
      numExecutors: 2
      remoteFS: "/home/azureuser/jenkins-agent"
      retentionStrategy: "always"
  numExecutors: 1
  primaryView:
    all:
      name: "all"
  projectNamingStrategy: "standard"
  quietPeriod: 5
  remotingSecurity:
    enabled: true
  scmCheckoutRetryCount: 0
  securityRealm:
    local:
      allowsSignup: false
      enableCaptcha: false
      users:
      - id: "thanhadmin"
        name: "Thành Admin"
        properties:
        - "apiToken"
        - mailer:
            emailAddress: "classic.nct@gmail.com"
        - preferredProvider:
            providerId: "default"
        - "experimentalFlags"
        - "slack"
  slaveAgentPort: -1
  updateCenter:
    sites:
    - id: "default"
      url: "https://updates.jenkins.io/update-center.json"
  views:
  - all:
      name: "all"
  viewsTabBar: "standard"
globalCredentialsConfiguration:
  configuration:
    providerFilter: "none"
    typeFilter: "none"
security:
  apiToken:
    creationOfLegacyTokenEnabled: false
    tokenGenerationOnCreationEnabled: false
    usageStatisticsEnabled: true
  gitHooks:
    allowedOnAgents: false
    allowedOnController: false
  gitHostKeyVerificationConfiguration:
    sshHostKeyVerificationStrategy: "acceptFirstConnectionStrategy"
  globalJobDslSecurityConfiguration:
    useScriptSecurity: true
  queueItemAuthenticator:
    authenticators:
    - global:
        strategy: "triggeringUsersAuthorizationStrategy"
  sSHD:
    port: -1
  scriptApproval:
    approvedScriptHashes:
    - "SHA512:3f205299bef2fe3329258a42f2c60d332cc35ccb41a3ca0512d7869c6aff4561ff708c48123b4f7c3dec33ccca30d54fb8b9b51b5bc7070f96236d11a3f0bdcb"
    - "SHA512:a53cc5585cf7fe5fb218039d36823361b8b494487e3f1dc934541e049d7fd8d20cf3b70efb4edf99f70b3fbe0dc5ff48cb97f58596bd085936ec632570ee54e9"
    - "SHA512:ad312194560c3452854ecf1e97427614af37e69367f7f064538df165b22acfb35a5332c5238a3bb893bf73aa7839d5968fc1b1e94d359e4b7c9085f015ea2a97"
    - "SHA512:d2a279017c4d4608486ea4bd15e5d98acc3016725307f696c7c5d9ef8caab16dbf05abc18b8a0e7a4b1b90ddca31492cada382d57d75a90e20bf763e9c9e58aa"
    approvedSignatures:
    - "method groovy.json.JsonSlurperClassic parseText java.lang.String"
    - "method groovy.lang.GroovyObject getProperty java.lang.String"
    - "method groovy.lang.GroovyObject invokeMethod java.lang.String java.lang.Object"
    - "method org.apache.maven.model.Model getPackaging"
    - "new groovy.json.JsonSlurperClassic"
    - "new java.util.ArrayList"
unclassified:
  buildDiscarders:
    configuredBuildDiscarders:
    - "jobBuildDiscarder"
  buildStepOperation:
    enabled: false
  cacheConfig:
    cacheGetJobs: false
    cacheGetJobsMinutes: 0
  email-ext:
    adminRequiredForTemplateTesting: false
    allowUnregisteredEnabled: true
    charset: "UTF-8"
    debugMode: false
    defaultBody: |-
      $PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS:

      Check console output at $BUILD_URL to view the results.
    defaultContentType: "text/html"
    defaultSubject: "$PROJECT_NAME - Build # $BUILD_NUMBER - $BUILD_STATUS!"
    defaultTriggerIds:
    - "hudson.plugins.emailext.plugins.trigger.FailureTrigger"
    mailAccount:
      credentialsId: "smtp_credential"
      smtpHost: "smtp.gmail.com"
      smtpPort: "465"
      useSsl: true
    maxAttachmentSize: -1
    maxAttachmentSizeMb: -1
    precedenceBulk: false
    watchingEnabled: false
  enrichedSummaryConfig:
    enrichedSummaryEnabled: false
    httpClientDelayBetweenRetriesInSeconds: 1
    httpClientMaxRetries: 3
    httpClientTimeoutInSeconds: 1
  fingerprints:
    fingerprintCleanupDisabled: false
    storage: "file"
  ghprbTrigger:
    autoCloseFailedPullRequests: false
    cron: "H/5 * * * *"
    extensions:
    - ghprbSimpleStatus:
        addTestResults: false
        showMatrixStatus: false
    githubAuth:
    - credentialsId: "github-access-token"
      description: "Anonymous connection"
      id: "36bba977-1d08-4e55-991d-897da4b0020f"
      secret: "{AQAAABAAAAAQn1FN2EGz9Z2eixP55RQuB3ServLzMPM2KyzMkbLEvsQ=}"
      serverAPIUrl: "https://api.github.com"
    manageWebhooks: true
    okToTestPhrase: ".*ok\\W+to\\W+test.*"
    requestForTestingPhrase: "Can one of the admins verify this patch?"
    retestPhrase: ".*test\\W+this\\W+please.*"
    skipBuildPhrase: ".*\\[skip\\W+ci\\].*"
    useComments: true
    useDetailedComments: true
    whitelistPhrase: ".*add\\W+to\\W+whitelist.*"
  gitHubConfiguration:
    apiRateLimitChecker: ThrottleForNormalize
  gitHubPluginConfig:
    hookUrl: "http://139-162-57-40.ip.linodeusercontent.com:8080/github-webhook/"
  gitLabServers:
    servers:
    - credentialsId: "gitlab_accesstoken"
      hooksRootUrl: "http://139-162-57-40.ip.linodeusercontent.com:8080/"
      manageWebHooks: true
      name: "default"
      serverUrl: "https://gitlab.com"
  githubPullRequests:
    actualiseOnFactory: false
  globalLibraries:
    libraries:
    - defaultVersion: "main"
      name: "pipelines-shared-library"
      retriever:
        modernSCM:
          libraryPath: "."
          scm:
            git:
              id: "12c31efc-3049-4a97-8fc4-b65f5f2a306d"
              remote: "https://gitlab.com/classic.nct/pipelines-shared-library.git"
              traits:
              - "gitBranchDiscovery"
    - defaultVersion: "main"
      name: "build-shared-library"
      retriever:
        modernSCM:
          libraryPath: "."
          scm:
            git:
              id: "b078d7c0-d02e-46d9-a3c3-3ccb94643a20"
              remote: "https://gitlab.com/classic.nct/build-shared-library.git"
              traits:
              - "gitBranchDiscovery"
    - defaultVersion: "main"
      name: "scan-shared-library"
      retriever:
        modernSCM:
          libraryPath: "."
          scm:
            git:
              id: "60c0e730-e109-4374-9611-1ed19d655042"
              remote: "https://gitlab.com/classic.nct/scan-shared-library.git"
              traits:
              - "gitBranchDiscovery"
    - defaultVersion: "main"
      name: "deploy-shared-library"
      retriever:
        modernSCM:
          libraryPath: "."
          scm:
            git:
              id: "8b49d35a-7ceb-46b1-8bec-8eb540d5f200"
              remote: "https://gitlab.com/classic.nct/deploy-shared-library.git"
              traits:
              - "gitBranchDiscovery"
    - defaultVersion: "main"
      name: "jenkins-shared-library"
      retriever:
        modernSCM:
          scm:
            git:
              id: "345b7cd2-9a4c-4155-9363-f576a767e8e2"
              remote: "https://github.com/troynguyeen/jenkins-shared-library.git"
              traits:
              - "gitBranchDiscovery"
  globalNexusConfiguration:
    instanceId: "8adb74373118495f8698e0e2921494ef"
    nxrmConfigs:
    - nxrm3Configuration:
        credentialsId: "nexus_id"
        displayName: "Nexus Repository"
        id: "nexusrepo"
        internalId: "e2f946f8-477d-4263-a450-09dcf5910cc8"
        serverUrl: "http://139-162-43-236.ip.linodeusercontent.com:8081"
  globalTimeOutConfiguration:
    operations:
    - "abortOperation"
    overwriteable: false
  injectionConfig:
    allowUntrusted: false
    checkForBuildAgentErrors: false
    enabled: false
    enforceUrl: false
    injectCcudExtension: false
    injectMavenExtension: false
  junitTestResultStorage:
    storage: "file"
  location:
    adminAddress: "Jenkins <no-reply@gmail.com>"
    url: "http://139-162-57-40.ip.linodeusercontent.com:8080/"
  mailer:
    authentication:
      password: "{AQAAABAAAAAgyi8gUt0sPQ6ORS7wmChWs2swM6j0h6aPa65GAuWadR75vqKzwoUMpDETWZ/jnDve}"
      username: "classic.nct@gmail.com"
    charset: "UTF-8"
    smtpHost: "smtp.gmail.com"
    smtpPort: "465"
    useSsl: true
    useTls: false
  pollSCM:
    pollingThreadCount: 10
  scmGit:
    addGitTagAction: false
    allowSecondFetch: false
    createAccountBasedOnEmail: false
    disableGitToolChooser: false
    hideCredentials: false
    showEntireCommitSummaryInChanges: false
    useExistingAccountWithSameEmail: false
  slackNotifier:
    botUser: true
    room: "#jenkins"
    sendAsText: false
    teamDomain: "DevOps Community"
    tokenCredentialId: "slack_token"
  sonarGlobalConfiguration:
    buildWrapperEnabled: true
    installations:
    - credentialsId: "sonarqube_secret"
      name: "sqserver"
      serverUrl: "http://139-162-46-224.ip.linodeusercontent.com:9000"
      triggers:
        skipScmCause: false
        skipUpstreamCause: false
  sshPublisher:
    commonConfig:
      disableAllExec: false
      encryptedPassphrase: "{AQAAABAAAAAQF57bAoxtMj1SA6Sa1ftAOne9wQmsfA1Eq/WJtfwyu0w=}"
  timestamper:
    allPipelines: false
    elapsedTimeFormat: "'<b>'HH:mm:ss.S'</b> '"
    systemTimeFormat: "'<b>'HH:mm:ss'</b> '"
  webhook:
    globalName: "Jenkins Notification"
    globalUrl: "https://fptsoftware362.webhook.office.com/webhookb2/4c942833-9eb5-4e2d-b488-423c5d85f2f4@f01e930a-b52e-42b1-b70f-a8882b5d043b/JenkinsCI/b69c758d8a33434f99421ce205bfe5ab/2402f6d5-457e-4fb9-90b5-89b85b622857"
  whitelist:
    enabled: false
tool:
  git:
    installations:
    - home: "git"
      name: "Default"
  jdk:
    installations:
    - home: "/usr/bin/java"
      name: "jdk-17"
  maven:
    installations:
    - name: "3.9.1"
      properties:
      - installSource:
          installers:
          - maven:
              id: "3.9.1"
  mavenGlobalConfig:
    globalSettingsProvider: "standard"
    settingsProvider: "standard"
  sonarRunnerInstallation:
    installations:
    - name: "sqserver"
      properties:
      - installSource:
          installers:
          - sonarRunnerInstaller:
              id: "5.0.1.3006"
